@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
  font-family: 'Itim', cursive;
}
.nothing{
  display: flex;
  justify-content: center;

}
.item{
  display: flex;
  gap: '10px';
  padding: 1%;
  margin: 1%;
}